.part-listing {
    color: #000;
    border-radius: 5px;
    padding: 1rem;
    box-sizing: border-box;

    &__img-container {
        height: 250px;
        width: 250px;
        margin: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    &__img {
        max-height: 100%;
        max-width: 100%;
    }

    &__number {
        font-size: 1.25rem;
    }

    &__description {
        font-size: 1rem;
    }

    &:hover {
        background: rgba(96, 96, 96, .25);
    }
}