// Small screens nav
@media only screen and (max-width: 999px) {
    .menu-collapse {
        display: flex;
        flex-flow: column wrap;
        top: 50%;
        right: 10%;
        justify-content: space-around;
        width: 40px;
        height: 40px;
        border: 2px solid #505050;
        border-radius: 5px;
        padding: 5px;

        &__line {
            border: 1px solid #505050;
            color: #505050;
        }
    }
}

// Large screens nav
@media only screen and (min-width: 1000px) {
    .menu-collapse {
        display: none;
    }
}
