// Small screens nav
@media only screen and (max-width: 999px) {
    .menu-collapse {
        height: 50px;
        font-size: 1rem;
        
        background: none;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 5px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-content: center;

        box-sizing: border-box;

    }
}

// Large screens nav
@media only screen and (min-width: 1000px) {
    .menu-collapse {
        display: none;
    }
}
