.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    &__input {
        flex: 1;
        height: 50px;
        font-size: 1rem;
        padding: 0 1rem;

        border: none;
        box-sizing: border-box;
        outline: none;
    }

    &__results {
        padding: 0 1rem;
    }
}