.App {
  text-align: center;
  max-height: 100vh;
  background: url('./img/appliance-bg.svg');
  background-size: cover;
  overflow: hidden;

}

@media only screen and (min-width: 1000px) {
  .App {
    display: grid;
    grid-template-columns: max-content auto;
  }
}